<%= form_for @attraction do |f| %>
  <h1><%= f.text_field :name %></h1>
  <label><%= f.text_field :tickets %></label>
  <label><%= f.text_field :nausea_rating %></label>
  <label><%= f.text_field :happiness_rating  %></label>
  <label><%= f.text_field :min_height %></label>
  <%= f.submit %>
<% end %>
