<h1><%= @attraction.name %></h1>
<label><%= @attraction.tickets %></label>
<label><%= @attraction.nausea_rating %></label>
<label><%= @attraction.happiness_rating  %></label>
<label><%= @attraction.min_height %></label>
<%= button_to "Go on this ride", get_on_ride_path, method: "get" %>
<% if @user.admin %>
  <%= link_to "Edit Attraction", edit_attraction_path %>
<% end %>
